<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<ul>
    <li><a href="lecture_details/1">Pierwszy wykład</a></li>
    <li><a href ="/set_username/{{user.name}}">Zapisz mnie</a></li>
    <li><a href="/say_hello">Przywitaj mnie</a></li>
    <li><a href="/say_hello/5">Przywitaj mnie 5 razy</a></li>
    <li><a href="/create_cookie/cookie/cookie/10">Upiecz ciastko</a></li>
    <li><a href="/delete_cookie/cookie">Zjedz ciastko</a></li>
    <li><a href="/add_student">Dodaj studenta</a></li>
</ul>
</body>
</html>